input::placeholder {
  text-align: center;
}

body {
  background-color: #080808; /* Cambia questo con il colore che preferisci */
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 2s;
}

.section-color-2 {
  background-color: #e0e0e0; /* Grigio */
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  background-image: url('./assets/5184012.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 2s ease-in-out;
}

.rounded-image {
  border-radius: 25px;
}

.slick-dots li button:before {
  color: white;
  font-size: 20px; /* Increase the font size to increase the size of the dots */
}

.my-carousel .slick-slide img.rounded-image {
  border-radius: 25px;
}

.hero.is-fullheight {
  padding-top: 3.25rem;
}

.navbar.is-fixed-top {
  z-index: 1000;
}
