@import '../node_modules/slick-carousel/slick/slick.css';
@import '../node_modules/slick-carousel/slick/slick-theme.css';

input::placeholder {
  text-align: center;
}

body {
  background-color: #080808; /* Cambia questo con il colore che preferisci */
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoom-in {
  animation-name: zoomIn;
  animation-duration: 2s;
}

.section-color-2 {
  background-color: #e0e0e0; /* Grigio */
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  background-image: url('./assets/opoy2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

.zoom-in {
  animation: zoomIn 2s ease-in-out;
}

.rounded-image {
  border-radius: 25px;
}

.slick-dots li button:before {
  color: white;
  font-size: 20px; /* Increase the font size to increase the size of the dots */
}

.my-carousel .slick-slide img.rounded-image {
  border-radius: 25px;
}

.hero.is-fullheight {
  padding-top: 3.25rem;
}

.navbar.is-fixed-top {
  z-index: 1000;
}
.is-scrollable {
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.is-scrollable::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}

.is-zoomed {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.card-fade {
  animation: fade 3s infinite;
}

.logo-svg {
  filter: invert(100%);
  height: 150px;
  width: 150px;
}

.logo-svg1 {
  filter: invert(100%);
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.box.is-success {
  background-color: #23d160;
  color: white;
}

.flex-grow-1 {
  flex: 1;
}

.content.is-clipped {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content.is-clipped:hover {
  overflow: visible;
  white-space: normal;
}

.plus-icon {
  font-size: 3rem;
}

.tooltip {
  position: relative;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #363636;
  border-radius: 4px;
  color: #fff;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
  white-space: nowrap;
}

.tooltip:hover::after {
  opacity: 1;
}

.mt-2 {
  margin-top: 6rem;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
